{
    "semi": true,
    "singleQuote": true,
    "printWidth": 100,
    "trailingComma": "all",
    "singleAttributePerLine": false,
    "htmlWhitespaceSensitivity": "css",
    "plugins": [
        "prettier-plugin-organize-imports",
        "prettier-plugin-tailwindcss",
        "prettier-plugin-packagejson"
    ],
    "tailwindFunctions": ["clsx"],
    "tailwindStylesheet": "resources/js/app.css",
    "tabWidth": 2,
    "overrides": [
        {
            "files": ".prettierrc",
            "options": {
                "parser": "json"
            }
        },
        {
            "files": "*.blade.php",
            "options": {
                "parser": "html"
            }
        },
        {
            "files": "**/*.yml",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
