{
  "openapi": "3.0.3",
  "info": {
    "title": "LiveCore 外部 Client API",
    "version": "1.1.0"
  },
  "servers": [
    {
      "url": "https://liveapp.rdqh.net.cn"
    }
  ],
  "tags": [
    {
      "name": "第三方专用"
    }
  ],
  "paths": {
    "/api/client/audiences": {
      "get": {
        "tags": ["第三方专用"],
        "summary": "全量查询观众列表",
        "description": "返回系统内全部观众，用于调用方存量拉取和同步。只校验 client 凭证和 IP 白名单，不需要 actor 授权。",
        "parameters": [
          { "$ref": "#/components/parameters/ClientIdQuery" },
          { "$ref": "#/components/parameters/ClientSecretQuery" }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudienceListApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/client/audiences/{audience}/rooms": {
      "get": {
        "tags": ["第三方专用"],
        "summary": "查询观众可访问直播间列表",
        "description": "返回指定观众通过所属分组可访问的直播间列表。只校验 client 凭证和 IP 白名单，不需要 actor 授权。",
        "parameters": [
          { "$ref": "#/components/parameters/Audience" },
          { "$ref": "#/components/parameters/ClientIdQuery" },
          { "$ref": "#/components/parameters/ClientSecretQuery" }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoomListApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/client/audiences/{audience}/viewing-records": {
      "get": {
        "tags": ["第三方专用"],
        "summary": "查询观众观看记录",
        "description": "返回指定观众的观看记录，按 joined_at 和 ID 倒序排列。每条记录包含直播间和直播场次的基础信息。只校验 client 凭证和 IP 白名单，不需要 actor 授权；非观众用户返回权限不足。",
        "parameters": [
          { "$ref": "#/components/parameters/Audience" },
          { "$ref": "#/components/parameters/ClientIdQuery" },
          { "$ref": "#/components/parameters/ClientSecretQuery" }
        ],
        "responses": {
          "200": {
            "description": "成功，或业务权限不足（code = 4000）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ViewingRecordListApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/client/audiences/{audience}/comment-records": {
      "get": {
        "tags": ["第三方专用"],
        "summary": "查询观众评论记录",
        "description": "返回指定观众提交的全部评论记录，包含尚未审核发布的评论；按 created_at 和 ID 倒序排列。每条记录包含直播间和直播场次的基础信息。只校验 client 凭证和 IP 白名单，不需要 actor 授权；非观众用户返回权限不足。",
        "parameters": [
          { "$ref": "#/components/parameters/Audience" },
          { "$ref": "#/components/parameters/ClientIdQuery" },
          { "$ref": "#/components/parameters/ClientSecretQuery" }
        ],
        "responses": {
          "200": {
            "description": "成功，或业务权限不足（code = 4000）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentRecordListApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/client/audiences/{audience}/password/reset": {
      "post": {
        "tags": ["第三方专用"],
        "summary": "重置观众密码",
        "description": "为指定观众生成新的复杂随机密码，并在本次响应中返回一次性明文密码。只校验 client 凭证和 IP 白名单，不需要 actor 授权。",
        "parameters": [
          { "$ref": "#/components/parameters/Audience" },
          { "$ref": "#/components/parameters/ClientIdQuery" },
          { "$ref": "#/components/parameters/ClientSecretQuery" }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudienceApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/client/token/{user}": {
      "post": {
        "tags": ["第三方专用"],
        "summary": "获取用户 Token",
        "description": "为指定用户签发短期访问 token。只校验 client 凭证和 IP 白名单，不需要 actor 授权。",
        "parameters": [
          { "$ref": "#/components/parameters/User" },
          { "$ref": "#/components/parameters/ClientIdQuery" },
          { "$ref": "#/components/parameters/ClientSecretQuery" }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/client/actors/{actor}/rooms": {
      "get": {
        "tags": ["第三方专用"],
        "summary": "查询授权直播间列表",
        "parameters": [
          { "$ref": "#/components/parameters/Actor" },
          { "$ref": "#/components/parameters/ClientIdQuery" },
          { "$ref": "#/components/parameters/ClientSecretQuery" }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoomListApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/client/actors/{actor}/groups": {
      "get": {
        "tags": ["第三方专用"],
        "summary": "查询授权观众分组列表",
        "parameters": [
          { "$ref": "#/components/parameters/Actor" },
          { "$ref": "#/components/parameters/ClientIdQuery" },
          { "$ref": "#/components/parameters/ClientSecretQuery" }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupListApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/client/actors/{actor}/audiences/upsert": {
      "post": {
        "tags": ["第三方专用"],
        "summary": "新建或更新观众并附加分组",
        "parameters": [
          { "$ref": "#/components/parameters/Actor" },
          { "$ref": "#/components/parameters/ClientIdQuery" },
          { "$ref": "#/components/parameters/ClientSecretQuery" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AudienceUpsertRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudienceApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/client/actors/{actor}/audiences/{audience}/groups/attach": {
      "post": {
        "tags": ["第三方专用"],
        "summary": "附加观众分组",
        "parameters": [
          { "$ref": "#/components/parameters/Actor" },
          { "$ref": "#/components/parameters/Audience" },
          { "$ref": "#/components/parameters/ClientIdQuery" },
          { "$ref": "#/components/parameters/ClientSecretQuery" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AudienceGroupsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/client/actors/{actor}/audiences/{audience}/groups/detach": {
      "delete": {
        "tags": ["第三方专用"],
        "summary": "分离观众分组",
        "parameters": [
          { "$ref": "#/components/parameters/Actor" },
          { "$ref": "#/components/parameters/Audience" },
          { "$ref": "#/components/parameters/ClientIdQuery" },
          { "$ref": "#/components/parameters/ClientSecretQuery" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AudienceGroupsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "Actor": {
        "name": "actor",
        "in": "path",
        "required": true,
        "schema": { "type": "string", "format": "uuid" },
        "description": "后台影子用户 ID"
      },
      "Audience": {
        "name": "audience",
        "in": "path",
        "required": true,
        "schema": { "type": "string", "format": "uuid" },
        "description": "观众用户 ID"
      },
      "User": {
        "name": "user",
        "in": "path",
        "required": true,
        "schema": { "type": "string", "format": "uuid" },
        "description": "用户 ID"
      },
      "ClientIdQuery": {
        "name": "client_id",
        "in": "query",
        "required": true,
        "schema": { "type": "string", "format": "uuid" }
      },
      "ClientSecretQuery": {
        "name": "client_secret",
        "in": "query",
        "required": true,
        "schema": { "type": "string" }
      }
    },
    "schemas": {
      "AudienceUpsertRequest": {
        "type": "object",
        "required": ["name", "group_ids"],
        "properties": {
          "name": { "type": "string" },
          "phone": { "type": "string", "nullable": true },
          "email": { "type": "string", "nullable": true, "format": "email" },
          "password": {
            "type": "string",
            "nullable": true,
            "description": "仅新建观众时返回的一次性明文密码；更新、附加分组、分离分组时不返回。长度 8 位，包含大写字母、小写字母和数字，不含易混淆字符或符号"
          },
          "group_ids": {
            "type": "array",
            "items": { "type": "string", "format": "uuid" }
          }
        }
      },
      "AudienceGroupsRequest": {
        "type": "object",
        "required": ["group_ids"],
        "properties": {
          "group_ids": {
            "type": "array",
            "items": { "type": "string", "format": "uuid" }
          }
        }
      },
      "AudienceResponseData": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid", "description": "本系统观众用户 ID" },
          "user_id": { "type": "string", "format": "uuid", "description": "同 id，本系统观众用户 ID" },
          "name": { "type": "string" },
          "phone": { "type": "string", "nullable": true },
          "email": { "type": "string", "nullable": true, "format": "email" },
          "password": {
            "type": "string",
            "nullable": true,
            "description": "仅新建观众或重置密码时返回的一次性明文密码。长度 8 位，包含大写字母、小写字母和数字，不含易混淆字符或符号"
          },
          "group_ids": {
            "type": "array",
            "description": "操作后该用户的完整分组 ID 列表",
            "items": { "type": "string", "format": "uuid" }
          }
        }
      },
      "AudienceListItem": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid", "description": "本系统观众用户 ID" },
          "name": { "type": "string" },
          "phone": { "type": "string", "nullable": true },
          "email": { "type": "string", "nullable": true, "format": "email" },
          "group_ids": {
            "type": "array",
            "items": { "type": "string", "format": "uuid" }
          }
        }
      },
      "AudienceListApiResponse": {
        "type": "object",
        "properties": {
          "code": { "type": "integer", "example": 0 },
          "data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/AudienceListItem" }
          },
          "message": { "type": "string", "example": "success" },
          "errors": { "nullable": true }
        }
      },
      "AudienceApiResponse": {
        "type": "object",
        "properties": {
          "code": { "type": "integer", "example": 0 },
          "data": { "$ref": "#/components/schemas/AudienceResponseData" },
          "message": { "type": "string", "example": "success" },
          "errors": { "nullable": true }
        }
      },
      "RoomItem": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "description": { "type": "string", "nullable": true },
          "cover": { "type": "string", "nullable": true }
        }
      },
      "RoomListApiResponse": {
        "type": "object",
        "properties": {
          "code": { "type": "integer", "example": 0 },
          "data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/RoomItem" }
          },
          "message": { "type": "string", "example": "success" },
          "errors": { "nullable": true }
        }
      },
      "LiveEventReference": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" }
        }
      },
      "ViewingRecordItem": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "living": { "type": "boolean", "description": "进入记录时的直播状态" },
          "user_id": { "type": "string", "format": "uuid" },
          "room_id": { "type": "string", "format": "uuid" },
          "event_id": { "type": "string", "format": "uuid" },
          "joined_at": { "type": "string", "format": "date-time", "nullable": true },
          "leaving_at": { "type": "string", "format": "date-time", "nullable": true },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" },
          "room": { "$ref": "#/components/schemas/RoomItem" },
          "event": { "$ref": "#/components/schemas/LiveEventReference" }
        }
      },
      "ViewingRecordListApiResponse": {
        "type": "object",
        "properties": {
          "code": { "type": "integer", "example": 0 },
          "data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/ViewingRecordItem" }
          },
          "message": { "type": "string", "example": "success" },
          "errors": { "nullable": true }
        }
      },
      "CommentRecordItem": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "content": { "type": "string" },
          "room_id": { "type": "string", "format": "uuid" },
          "event_id": { "type": "string", "format": "uuid" },
          "sender_id": { "type": "string", "format": "uuid" },
          "created_at": { "type": "string", "format": "date-time" },
          "room": { "$ref": "#/components/schemas/RoomItem" },
          "event": { "$ref": "#/components/schemas/LiveEventReference" }
        }
      },
      "CommentRecordListApiResponse": {
        "type": "object",
        "properties": {
          "code": { "type": "integer", "example": 0 },
          "data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/CommentRecordItem" }
          },
          "message": { "type": "string", "example": "success" },
          "errors": { "nullable": true }
        }
      },
      "GroupItem": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "rooms": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/RoomItem" }
          }
        }
      },
      "GroupListApiResponse": {
        "type": "object",
        "properties": {
          "code": { "type": "integer", "example": 0 },
          "data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/GroupItem" }
          },
          "message": { "type": "string", "example": "success" },
          "errors": { "nullable": true }
        }
      },
      "TokenUser": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" }
        }
      },
      "TokenResponseData": {
        "type": "object",
        "properties": {
          "token": { "type": "string" },
          "expires_in": { "type": "integer", "example": 300 },
          "user": { "$ref": "#/components/schemas/TokenUser" }
        }
      },
      "TokenApiResponse": {
        "type": "object",
        "properties": {
          "code": { "type": "integer", "example": 0 },
          "data": { "$ref": "#/components/schemas/TokenResponseData" },
          "message": { "type": "string", "example": "success" },
          "errors": { "nullable": true }
        }
      },
      "ApiResponse": {
        "type": "object",
        "properties": {
          "code": { "type": "integer", "example": 0 },
          "data": { "nullable": true },
          "message": { "type": "string", "example": "success" },
          "errors": { "nullable": true }
        }
      }
    }
  }
}
